{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/js/jquery.blockui.js"></script>
    <script type="text/javascript" src="/js/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/js/flot/jquery.flot.axislabels.js"></script>

    <script type="text/javascript">
        // Simulation file
        var file = "{{ path('experience_js', {'name': name}) }}";
    </script>
    <script type="text/javascript" src="/js/player.js"></script>
{% endblock %}

{% block content %}
    <div id="template">
        <div class="row">
            <div class="span22">
                <h1>Simulation <small class="title"></small></h1>
            </div>
        </div>
        <div class="row">
            <div class="chart span11">
            </div>
            <div class="span11">
                <table class="informations zebra-striped">
                    <tbody>
                        <tr class="time">
                            <td><strong>Time</strong></td>
                            <td><span class="label-time"></span></td>
                        </tr>
                        <tr class="outputrate-average">
                            <td><strong>Average output rate</strong></td>
                            <td><span class="label-outputrate-average"></span></td>
                        </tr>
                        <tr class="delay-average">
                            <td><strong>Average sejour time</strong></td>
                            <td><span class="label-delay-average"></span></td>
                        </tr>
                        <tr class="accepted-flows">
                            <td><strong>Accepted flows</strong></td>
                            <td><span class="label-accepted-flows color-green"></span></td>
                        </tr>
                        <tr class="rejected-flows">
                            <td><strong>Rejected flows</strong></td>
                            <td><span class="label-rejected-flows color-red"></span></td>
                        </tr>
                        <tr class="timeslot-with-qos">
                            <td><strong>Respected Quality of Service</strong></td>
                            <td><span class="label-timeslot-with-qos color-green"></span></td>
                        </tr>
                        <tr class="timeslot-without-qos">
                            <td><strong>Violated Quality of Service</strong></td>
                            <td><span class="label-timeslot-without-qos color-red"></span></td>
                        </tr>
                        <tr class="knowledge-plane">
                            <td><strong>Queueing model (<span class="label-knowledge-plane-type"></span>)</strong></td>
                            <td>
                                <ul>
                                    <li>&#956; : <span class="label-knowledge-plane-mu"></span></li>
                                    <li>cv : <span class="label-knowledge-plane-cv"></span></li>
                                    <li>k : <span class="label-knowledge-plane-k"></span></li>
                                    <!--<li>off : <span class="label-knowledge-plane-off"></span></li>-->
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="experience">
    </div>

    <div class="row">
        <div id="separator-controls" class="span22">
        </div>
    </div>

    <div id="controls" class="row">
        <div class="span3">
            <a href="#" class="btn" id="backward-btn"><img src="/images/skip_left.png" alt="Skip left" /></a>
            <a href="#" class="btn" id="play-btn"><img src="/images/play.png" alt="Play/Pause" /></a>
            <a href="#" class="btn" id="forward-btn"><img src="/images/skip_right.png" alt="Skip right" /></a>
        </div>
        <div class="span19">
            <div id="range-div">
                <input type="range" id="range" />
            </div>
        </div>
    </div>
{% endblock %}