{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/js/jquery.blockui.js"></script>
    <script type="text/javascript" src="/js/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/js/flot/jquery.flot.axislabels.js"></script>
    <script type="text/javascript">
        // Simulation file
        var file = "{{ path('experience_js', {'name': name}) }}";
    </script>
    <script type="text/javascript" src="/js/player.js"></script>
{% endblock %}

{% block content %}
    <div id="template">
        <div class="row">
            <div class="span18">
                <h1>Simulation <small class="title"></small></h1>
            </div>
        </div>
        <div class="row">
            <div class="chart span9">
            </div>
            <div class="span9">
                <table class="informations zebra-striped">
                    <tbody>
                        <tr>
                            <td><strong>Time</strong></td>
                            <td><span class="label-time"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Accepted flows</strong></td>
                            <td><span class="label-accepted-flows color-green"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Rejected flows</strong></td>
                            <td><span class="label-rejected-flows color-red"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Waiting time</strong></td>
                            <td><span class="label-waiting-time"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Output rate</strong></td>
                            <td><span class="label-outputrate"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Output rate (average)</strong></td>
                            <td><span class="label-outputrate-average"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Delay</strong></td>
                            <td><span class="label-delay"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="experience">
    </div>

    <div class="row">
        <div id="separator-controls" class="span18">
        </div>
    </div>

    <div id="controls" class="row">
        <div class="span3">
            <a href="#" class="btn" id="backward-btn"><img src="/images/skip_left.png" alt="Skip left" /></a>
            <a href="#" class="btn" id="play-btn"><img src="/images/play.png" alt="Play/Pause" /></a>
            <a href="#" class="btn" id="forward-btn"><img src="/images/skip_right.png" alt="Skip right" /></a>
        </div>
        <div class="span15">
            <div id="range-div">
                <input type="range" id="range" />
            </div>
        </div>
    </div>
{% endblock %}