{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Menu</h1>

    <ul>
        {% for name,experience in experiences %}
            {% set title = experience.title ? experience.title : 'No title' %}
            <li>{{ title }} - <a href="{{ path('experience', {'name':name}) }}">show</a></li>
        {% endfor %}
    </ul>
{% endblock %}