html, body {
  background-color: #fff;
}

body {
  padding-top: 80px;
}

.container > footer p {
  text-align: center;
}

.container, .topbar .container {
  width: 1360px;
}

.topbar .container {
  text-align: center;
}

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

#range-div {
  margin-right: 13px;
}

#range {
  position: relative;
  top: 6px;
  width: 100%;
}

.chart {
  height: 300px;
  position: relative;
}

#separator-controls {
  height: 3px;
  background-color: lightgrey;
  margin: 20px;
}

.slider {
  background-color: #e6e6e6;
  height:9px;
  position:relative;
  cursor:pointer;
  width: 100%;
  float:left;
  clear:right;
  margin-top:15px;
  -moz-box-shadow:inset 0 0 8px #000;
}

.progress {
  height:9px;
  background-color:#C5FF00;
  display:none;
  opacity:0.6;
}

.handle {
  height:23px;
  width:23px;
  top:-9px;
  position:absolute;
  display:block;
  margin-top:1px;
  border:1px solid #000;
  cursor:move;
  background-color: black;
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
}

.range {
  display: none;
}

.color-red {
  color: #cc0000;
}

.color-green {
  color: #006e2e;
}

.informations td {
  width: 60%;
}

#loading {
  margin: 10px 0;
  font-size: 19px;
}

#loading img {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.legend table {
  width: inherit;
}

.legend table td {
  padding: 5px 2px;
  border-top: none;
  line-height: 15px;
}

#tooltip {
  font-size: 10px;
  position: absolute;
  z-index: 100000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000;
  color: #fff;
  padding: 3px 7px;
  text-align: center;
  opacity: 0.7;
}

#template {
  display: none;
}

.informations tr {
  display: none;
}

.informations ul {
  margin-left: 0 !important;
}

.informations li {
  color: #404040;
}

.footer {
  margin-top: 20px;
}

.footer .inria {
  text-align: left;
  width: 280px;
}

.footer .subtitle {
  width: 700px;
  padding: 19px 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.footer .alcatel {
  text-align: right;
  width: 280px;
}

.informations tr {
  font-size: 14px;
}

.simulation-name {
  text-transform: capitalize;
}

.chart {
  font-size: 18px;
}